@keyframes bg{
    from {background-color:white}
    to{background-color:#00c7ff}
}
@keyframes bg2{
    from{
        background-color: #00c7ff;
    }
    to{
        background-color:#f442a7;
    }
}
@keyframes bg3{
    from{
        background-color: #00c7ff;
    }
    to{
        background-color: #b942f4;
    }
}

@keyframes title-ani{
    from{
        opacity: 0;
        top:-40px;
    }
    to{
        opacity: 1;
        top:50%;
    }
}
@keyframes title-caption-ani{
    from{
        opacity: 0;
        top:150%;
    }
    to{
        opacity: 1;
        top:57%;
    }
}

@keyframes enter-ani{
    from{
        opacity: 0;
        top:150%;
    } to{
        opacity: 1;
        top:60%;
    }
}
@keyframes enter-ani-2{
    from{
        opacity: 0;
        top:150%;
    } to{
        opacity: 1;
        top:65%;
    }
}

@keyframes showcase-ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body.splash{
    animation-name: bg;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body.things{
    animation-name: bg2;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body.about{
    animation-name: bg3;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#showcase{
    text-align:center;
    opacity:0;
    
    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: showcase-ani;
    animation-delay:1s;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}

.showcaseItem{
    padding: 40px;
}

.dl{
    font-size:0.5em;
    transform: translate(0px, -10px);
}

#title{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    
    color:white;
    font-size:4em;
    text-align: center;
    font-family: arial;

    animation-name: title-ani;
    animation-duration:1s;
    animation-fill-mode:forwards;

}

#title-caption{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);

    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: title-caption-ani;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

#enter{
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-family: arial;
    font-weight:bold;
}

#enter-showcase{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;

    animation-name: enter-ani;
    animation-duration: 1s;
    animation-delay:0.5s;
    animation-fill-mode:forwards;
}

#enter-about{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;

    animation-name: enter-ani-2;
    animation-duration: 1s;
    animation-delay:1s;
    animation-fill-mode:forwards;
}


a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}