@keyframes bg{
    from {background-color:white}
    to{background-color:#00c7ff}
}
@keyframes bg2{
    from{
        background-color: #00c7ff;
    }
    to{
        background-color:#f442a7;
    }
}

@keyframes title-Ani{
    from{
        opacity: 0;
        top:-40px;
    }
    to{
        opacity: 1;
        top:50%;
    }
}
@keyframes title-caption-Ani{
    from{
        opacity: 0;
        top:150%;
    }
    to{
        opacity: 1;
        top:57%;
    }
}

@keyframes enter-Ani{
    from{
        opacity: 0;
        top:150%;
    } to{
        opacity: 1;
        top:70%;
    }
}

@keyframes showcase-Ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body.splash{
    animation-name: bg;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body.things{
    animation-name: bg2;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#showcase{
    text-align:center;
    opacity:0;
    
    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: showcase-Ani;
    animation-delay:1s;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
}

#title{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    
    color:white;
    font-size:4em;
    text-align: center;
    font-family: arial;

    animation-name: title-Ani;
    animation-duration:1s;
    animation-fill-mode:forwards;

}

#title-caption{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);

    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: title-caption-Ani;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

#enter{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-family: arial;

    opacity: 0;

    animation-name: enter-Ani;
    animation-duration: 1s;
    animation-delay:0.5s;
    animation-fill-mode:forwards;
}

a{
    /*text-decoration: none;*/
    color: white;
}
a:hover{
    color: black;
}