/*ANIMATIONS*/
@keyframes title-animation{
    from{
        opacity: 0;
        top:-40px;
    }
    to{
        opacity: 1;
        top:30%;
    }
}

@keyframes enter-animation{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes three-animation{
    from{opacity:0;} to {opacity:1;}
}

/*ELEMENTS*/

body{
    background-color: black;
    margin:0;
}

canvas{ /*THREE */
    width: 100%;
    height: 100%;
    opacity:0;

    /*css animation*/
    animation-name:three-animation;
    animation-duration:1s;
    animation-delay:1s;
    animation-fill-mode:forwards;
    }

#splash-title{ /*used for the splash screen*/
    position:absolute;
    top: -100px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
    font-family: arial;
    font-size: 3.0em;
    font-weight:bold;

    /*animation settings*/
    animation-name: title-animation;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

#enter{
    position:absolute;
    top: 65%;
    opacity:0;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
    font-family: arial;
    font-size: 1em;
    font-weight:bold;

    /*animation settings*/
    animation-name: enter-animation;
    animation-duration:1s;
    animation-delay:1.5s;
    animation-fill-mode:forwards;
}

.enterLink{
    text-decoration:none;
    color:white;
    text-align: center;
}

.enterLink:hover{
    font-size: 1.2em;
    text-align: center;
}
