@keyframes bg{
    from {background-color:white}
    to{background-color:#00c7ff}
}
@keyframes bg2{
    from{
        background-color: #000000;
    }
    to{
        background-color:#000000;
    }
}
@keyframes bg3{
    from{
        background-color: #00c7ff;
    }
    to{
        background-color: #b942f4;
    }
}

@keyframes title-ani{
    from{
        opacity: 0;
        top:-40px;
    }
    to{
        opacity: 1;
        top:50%;
    }
}
@keyframes title-caption-ani{
    from{
        opacity: 0;
        top:150%;
    }
    to{
        opacity: 1;
        top:57%;
    }
}

@keyframes enter-ani{
    from{
        opacity: 0;
        top:150%;
    } to{
        opacity: 1;
        top:60%;
    }
}
@keyframes enter-ani-2{
    from{
        opacity: 0;
        top:150%;
    } to{
        opacity: 1;
        top:65%;
    }
}

@keyframes showcase-ani{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@keyframes showcase-bg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* ----------------------------------------*/

body.splash{
    animation-name: bg;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body.things{
    animation-name: bg2;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
body.about{
    animation-name: bg3;
    animation-duration:1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* SHOWCASE */

#showcase{
    text-align:center;
    opacity:0;
    
    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: showcase-ani;
    animation-delay:1s;
    animation-fill-mode:forwards;
    animation-duration:0.5s;
    
}

.showcaseItem{
    /*outside element */
    margin: 2.5px;

    height: 300px;
    width: 300px;
    vertical-align: top;

    border-width: 1px;
    border-style: solid;
    border-color: white;

    display: inline-flex;
    flex-direction:column;
    justify-content:center;
}

.item-name{
    font-size:0.9em;
    color:black;
    font-weight:bold;
}

.item-link{
    font-size:0.5em;
    margin-top:auto;
    color:black;
}

.item-link-icon{
    max-width:8px;
    max-height:8px;
    display:inline-block;
}

.item-link-name{
    display:inline-block;
}

.item-header{
    display:flex;
    flex-direction:column;
    justify-content:center;

    background-color: white;
    

    height:50px;
    width: 300px;
}

.item-footer{
    display:flex;
    margin-top:auto;
    flex-direction:column;

    background-color:white;

    height: 20px;
    width: 300px;

}

.item-body{
    flex-direction:column;
    justify-content:middle;
    font-size:0.75em;
    padding:2.5px;
}

img{
    max-height:80%;
    max-width:80%;

}

/* ----------------------------------------*/

#title{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    
    color:white;
    font-size:4em;
    text-align: center;
    font-family: arial;

    animation-name: title-ani;
    animation-duration:1s;
    animation-fill-mode:forwards;

}

#title-caption{
    position: fixed;
    left: 50%;
    transform: translate(-50%,-50%);

    color:white;
    font-size:1em;
    text-align: center;
    font-family: arial;

    animation-name: title-caption-ani;
    animation-duration:1s;
    animation-fill-mode:forwards;
}

/* ----------------------------------------*/

#enter{
    color: white;
    font-size: 1.1em;
    text-align: center;
    font-family: arial;
    font-weight:bold;
}

#enter-showcase{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    opacity:0;

    animation-name: enter-ani;
    animation-duration: 1s;
    animation-delay:0.5s;
    animation-fill-mode:forwards;
}

#enter-about{
    position: fixed;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;

    animation-name: enter-ani-2;
    animation-duration: 1s;
    animation-delay:1s;
    animation-fill-mode:forwards;
}

/* ----------------------------------------*/

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight:bold;
}