#textLayer{
    position: absolute;
    z-index: 100; //Put the text above the canvas

    *{
        position:absolute;
        transform:translate3d(0,0,0.01); //im not sure if this automatically does GPU computation but i think this is fine
    }

    p{
        cursor: pointer;

        :hover{
            font-weight: bold;
            font-size: 2em;
        }
    }
}